.your-code {
  margin-top: 40px;
  height: 200px;
  border: 2px solid darkmagenta;
}
.input {
  inline-size: 95%;
  margin: 20px;
  padding-left: 10px;
  height: 50px;
  font-size: 25px;
}
.output {
  height: 50px;
  inline-size: 95%;
  margin: 20px;
  padding-left: 10px;
  background-color: green;
  color: white;
  font-size: 25px;
}
.noOutput {
  color: white;
  height: 50px;
  font-size: 25px;

  inline-size: 95%;
  margin: 20px;
  padding-left: 10px;
  background-color: red;
}
